div.display {
  padding: 0.5rem 1rem;
  text-align: right;
  margin-block: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  background: var(--color-bg-screen);
  color: var(--color-text-header);

  div.secondDisplay {
    font-size: 1rem;
    font-weight: 500;
    min-height: 1.5rem;
  }

  div.current {
  }
}

@media screen and (min-width: 42rem) {
  .display {
    font-size: 3.5rem;
  }
}

.dark-theme {
  div.display {
    color: hsl(0, 0, 100%);
  }
}