.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .app {
    text-align: center;
    width: 100%;
    padding: 1.7rem;
    max-width: 37.25rem;
  }
}

@media screen and (min-width: 42rem) {
  .app {
    padding-block: 6rem;
  }
}