// Font
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  // COLORS
  // Theme 1
  .dark-theme {
    // Backgrounds
    --color-bg-main: hsl(222, 26%, 31%);
    --color-bg-toggle: hsl(223, 31%, 20%);
    --color-bg-keypad: hsl(223, 31%, 20%);
    --color-bg-screen: hsl(224, 36%, 15%);
    // Keys
    --color-keys-bg1: hsl(225, 21%, 49%);
    --color-keys-shadow1: hsl(224, 28%, 35%);
    --color-keys-bg2: hsl(6, 63%, 50%);
    --color-keys-shadow2: hsl(6, 70%, 34%);
    --color-keys-bg3: hsl(30, 25%, 89%);
    --color-keys-shadow3: hsl(28, 16%, 65%);
    --color-keys-toggle: hsl(6, 63%, 50%);
    // Text
    --color-text-header: hsl(0, 0, 100%);
    --color-text-keys: hsl(221, 14%, 31%);
    --color-text-edit: hsl(0, 0, 100%);
    --color-text-submit: hsl(0, 0, 100%);
  }

  // Theme 2
  .light-theme {
    // Backgrounds
    --color-bg-main: hsl(0, 0%, 90%);
    --color-bg-toggle: hsl(0, 5%, 81%);
    --color-bg-keypad: hsl(0, 5%, 81%);
    --color-bg-screen: hsl(0, 0%, 93%);
    // Keys
    --color-keys-bg1: hsl(185, 42%, 37%);
    --color-keys-shadow1: hsl(185, 58%, 25%);
    --color-keys-bg2: hsl(25, 98%, 40%);
    --color-keys-shadow2: hsl(25, 99%, 27%);
    --color-keys-bg3: hsl(45, 7%, 89%);
    --color-keys-shadow3: hsl(35, 11%, 61%);
    --color-keys-toggle: hsl(25, 98%, 40%);
    // Text
    --color-text-header: hsl(60, 10%, 19%);
    --color-text-keys: hsl(60, 10%, 19%);
    --color-text-edit: hsl(0, 0, 100%);
    --color-text-submit: hsl(0, 0, 100%);
  }

  // Theme 3
  .retro-theme {
    // Backgrounds
    --color-bg-main: hsl(268, 75%, 9%);
    --color-bg-toggle: hsl(268, 71%, 12%);
    --color-bg-keypad: hsl(268, 71%, 12%);
    --color-bg-screen: hsl(268, 71%, 12%);
    // Keys
    --color-keys-bg1: hsl(281, 89%, 26%);
    --color-keys-shadow1: hsl(285, 91%, 52%);
    --color-keys-bg2: hsl(176, 100%, 44%);
    --color-keys-shadow2: hsl(177, 92%, 70%);
    --color-keys-bg3: hsl(268, 47%, 21%);
    --color-keys-shadow3: hsl(290, 70%, 36%);
    --color-keys-toggle: hsl(176, 100%, 44%);
    // Text
    --color-text-header: hsl(52, 100%, 62%);
    --color-text-keys: hsl(52, 100%, 62%);
    --color-text-edit: hsl(0, 0, 100%);
    --color-text-submit: hsl(198, 20%, 13%);
  }

  // TYPOGRAPHY
  // Body Copy
  --font-size: 32px;

  // Font
  --font: 'League Spartan', sans-serif;;
}

// Set core root defaults
html:focus-within {
  scroll-behavior: smooth;
}

// Set core body defaults
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font);
  background-color: var(--color-bg-main);
  color: var(--color-text-header);
}

// Remove default margin
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

// Box sizing rules
*, *::before, *::after {
  box-sizing: border-box;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'], ol[role='list'] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Make images easier to work with
img, picture {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
input, button, textarea, select {
  font: inherit;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.border-radius {
  border-radius: 10px;
}