// Font
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  // COLORS
  // Theme 1
  .dark-theme {
    // Backgrounds
    --color-bg-main: hsl(222, 26%, 31%);
    --color-bg-toggle: hsl(223, 31%, 20%);
    --color-bg-keypad: hsl(223, 31%, 20%);
    --color-bg-screen: hsl(224, 36%, 15%);
    // Keys
    --color-keys-bg1: hsl(225, 21%, 49%);
    --color-keys-shadow1: hsl(224, 28%, 35%);
    --color-keys-bg2: hsl(6, 63%, 50%);
    --color-keys-shadow2: hsl(6, 70%, 34%);
    --color-keys-bg3: hsl(30, 25%, 89%);
    --color-keys-shadow3: hsl(28, 16%, 65%);
    --color-keys-toggle: hsl(6, 63%, 50%);
    // Text
    --color-text-header: hsl(0, 0, 100%);
    --color-text-keys: hsl(221, 14%, 31%);
    --color-text-edit: hsl(0, 0, 100%);
    --color-text-submit: hsl(0, 0, 100%);
  }

  // Theme 2
  .light-theme {
    // Backgrounds
    --color-bg-main: hsl(0, 0%, 90%);
    --color-bg-toggle: hsl(0, 5%, 81%);
    --color-bg-keypad: hsl(0, 5%, 81%);
    --color-bg-screen: hsl(0, 0%, 93%);
    // Keys
    --color-keys-bg1: hsl(185, 42%, 37%);
    --color-keys-shadow1: hsl(185, 58%, 25%);
    --color-keys-bg2: hsl(25, 98%, 40%);
    --color-keys-shadow2: hsl(25, 99%, 27%);
    --color-keys-bg3: hsl(45, 7%, 89%);
    --color-keys-shadow3: hsl(35, 11%, 61%);
    --color-keys-toggle: hsl(25, 98%, 40%);
    // Text
    --color-text-header: hsl(60, 10%, 19%);
    --color-text-keys: hsl(60, 10%, 19%);
    --color-text-edit: hsl(0, 0, 100%);
    --color-text-submit: hsl(0, 0, 100%);
  }

  // Theme 3
  .retro-theme {
    // Backgrounds
    --color-bg-main: hsl(268, 75%, 9%);
    --color-bg-toggle: hsl(268, 71%, 12%);
    --color-bg-keypad: hsl(268, 71%, 12%);
    --color-bg-screen: hsl(268, 71%, 12%);
    // Keys
    --color-keys-bg1: hsl(281, 89%, 26%);
    --color-keys-shadow1: hsl(285, 91%, 52%);
    --color-keys-bg2: hsl(176, 100%, 44%);
    --color-keys-shadow2: hsl(177, 92%, 70%);
    --color-keys-bg3: hsl(268, 47%, 21%);
    --color-keys-shadow3: hsl(290, 70%, 36%);
    --color-keys-toggle: hsl(176, 100%, 44%);
    // Text
    --color-text-header: hsl(52, 100%, 62%);
    --color-text-keys: hsl(52, 100%, 62%);
    --color-text-edit: hsl(0, 0, 100%);
    --color-text-submit: hsl(198, 20%, 13%);
  }

  // TYPOGRAPHY
  // Body Copy
  --font-size: 32px;

  // Font
  --font: 'League Spartan', sans-serif;;
}

// Set core root defaults
html:focus-within {
  scroll-behavior: smooth;
}

// Set core body defaults
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font);
  background-color: var(--color-bg-main);
  color: var(--color-text-header);
}

// Remove default margin
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

// Box sizing rules
*, *::before, *::after {
  box-sizing: border-box;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'], ol[role='list'] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Make images easier to work with
img, picture {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
input, button, textarea, select {
  font: inherit;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.border-radius {
  border-radius: 10px;
}


/******************************************    QUESERI    ******************************************/
// :root {
  // --QUESERI-dark-bg-color:hsla(222, 26%, 31%, 1);
  // --QUESERI-dark-white-color:hsla(0, 0%, 100%, 1);
  // --QUESERI-dark-eq-bg-color:hsla(6, 63%, 50%, 1);
  // --QUESERI-dark-reset-bg-color:hsla(225, 21%, 49%, 1);
  // --QUESERI-dark-btn-tx-color:hsla(221, 14%, 31%, 1);
  // --QUESERI-dark-btn-bg-color:hsla(31, 24%, 89%, 1);
  // --QUESERI-dark-radio-bg-color:hsla(223, 31%, 20%, 1);
  // --QUESERI-dark-display-bg-color:hsla(224, 36%, 15%, 1);
  // --QUESERI-dark-grid-bg-color:hsla(224, 30%, 21%, 1);
  // --QUESERI-dark-box-shadow:0px 4px 0px 0px hsla(27, 15%, 65%, 1);
  // --QUESERI-dark-del-box-shadow:0px 4px 0px 0px hsla(224, 28%, 35%, 1);
  // --QUESERI-dark-eq-box-shadow:0px 4px 0px 0px hsla(6, 70%, 34%, 1);
  // --QUESERI-light-bg-color:hsla(0, 0%, 90%, 1);
  // --QUESERI-light-tx-color:hsla(60, 10%, 19%, 1);
  // --QUESERI-light-eq-bg-color:hsla(25, 98%, 40%, 1);
  // --QUESERI-light-reset-bg-color:hsla(184, 42%, 37%, 1);
  // --QUESERI-light-btn-bg-color:hsla(45, 7%, 89%, 1);
  // --QUESERI-light-btn-tx-color:hsla(60, 10%, 19%, 1);
  // --QUESERI-light-display-bg-color:hsla(0, 0%, 93%, 1);
  // --QUESERI-light-grid-bg-color:hsla(0, 5%, 81%, 1);
  // --QUESERI-light-box-shadow:0px 4px 0px 0px hsla(35, 11%, 61%, 1);
  // --QUESERI-light-del-box-shadow:0px 4px 0px 0px hsla(185, 58%, 25%, 1);
  // --QUESERI-light-eq-box-shadow:0px 4px 0px 0px hsla(25, 99%, 27%, 1);
  // --QUESERI-retro-bg-color:hsla(268, 75%, 9%, 1);
  // --QUESERI-retro-tx-color:hsla(52, 100%, 62%, 1);
  // --QUESERI-retro-eq-bg-color:hsla(176, 100%, 44%, 1);
  // --QUESERI-retro-eq-tx-color:hsla(198, 20%, 13%, 1);
  // --QUESERI-retro-reset-bg-color:hsla(281, 89%, 26%, 1);
  // --QUESERI-retro-btn-bg-color:hsla(268, 47%, 21%, 1);
  // --QUESERI-retro-btn-tx-color:hsla(52, 100%, 62%, 1);
  // --QUESERI-retro-display-bg-color:hsla(268, 71%, 12%, 1);
  // --QUESERI-retro-box-shadow:0px 4px 0px 0px hsla(290, 70%, 36%, 1);
  // --QUESERI-retro-del-box-shadow:0px 4px 0px 0px hsla(285, 91%, 52%, 1);
  // --QUESERI-retro-eq-box-shadow:0px 4px 0px 0px hsla(177, 92%, 70%, 1);
// }

// .neutral-colors {
//   &.display {
//     background-color: var(--QUESERI-dark-display-bg-color);
//   }
//   &.grid {
//     background-color: var(--QUESERI-dark-grid-bg-color);
//   }
// }
// .theme-control {
//   &::before {
//     background: var(--QUESERI-dark-radio-bg-color);
//   }
// }
// .btn {
//   background-color: var(--QUESERI-dark-btn-bg-color);
//   box-shadow: var(--QUESERI-dark-box-shadow);
//   &:hover, &:focus {
//     background-color: var(--QUESERI-dark-white-color);
//   }
//   &:nth-child(4), &:nth-child(17) {
//     background-color: var(--QUESERI-dark-reset-bg-color);
//     color: var(--QUESERI-dark-white-color);
//     box-shadow: var(--QUESERI-dark-del-box-shadow);
//   }
//   &:last-child {
//     background-color: var(--QUESERI-dark-eq-bg-color);
//     color: var(--QUESERI-dark-white-color);
//     box-shadow: var(--QUESERI-dark-eq-box-shadow);
//   }
// }

// .light-colors {
//   &.grid {
//     background-color: var(--QUESERI-light-grid-bg-color);
//     color: var(--QUESERI-light-tx-color);
//   }
//   .btn {
//     background-color: var(--QUESERI-light-btn-bg-color);
//     color: var(--QUESERI-light-tx-color);
//     &:nth-child(4), &:nth-child(17) {
//       background-color: var(--QUESERI-light-reset-bg-color);
//       color: var(--QUESERI-dark-white-color);
//       box-shadow: var(--QUESERI-light-del-box-shadow);
//     }
//     &:last-child {
//       background-color: var(--QUESERI-light-eq-bg-color);
//       box-shadow: var(--QUESERI-light-eq-box-shadow);
//       color: var(--QUESERI-dark-white-color);
//     }
//   }
// }

// .dark-colors {
//   .btn {
//     background-color: var(--QUESERI-retro-btn-bg-color);
//     color: var(--QUESERI-retro-btn-tx-color);
//     box-shadow: var(--QUESERI-retro-box-shadow);
//     &:nth-child(4), &:nth-child(17) {
//       background-color: var(--QUESERI-retro-reset-bg-color);
//       color: var(--QUESERI-dark-white-color);
//       box-shadow: var(--QUESERI-retro-del-box-shadow);
//     }
//     &:last-child {
//       background-color: var(--QUESERI-retro-eq-bg-color);
//       box-shadow: var(--QUESERI-retro-eq-box-shadow);
//       color: var(--QUESERI-retro-eq-tx-color);
//     }
//   }
// }
/***************************************************************************************************/